.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.game-aside-content {
    position: relative;
    width: 400px;
    height: 100vh;
}

.game-main-content {
    width: calc(100% - 400px);
}

/* at 1300px move aside containing player info to above board */
@media screen and (max-width: 1300px) {
    .content-wrapper {
        flex-direction: column-reverse;
    }

    .game-aside-content {
        width: 100%;
        height: 500px;
    }

    .game-main-content {
        width: 100%;
    }
}