.board {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    margin: 0 auto;
}

.board-square {
    width: calc(100% / 8);
    height: calc(850px / 8);
}

.square-dark {
    background-color: #503019;
}

.square-light {
    background-color: rgb(228, 228, 228);
}