.icon-black {
    color: black;
}

.icon-white {
    color: white;
}

.mobile-menu-exit {
    display: none;
}

.player-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.player-btns button {
    padding: 2px 20px;
    border-radius: 10px;
}

.room-id-text {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 20px;
}

.spectators-container, .player-info-container {
    margin-top: 20px;
}

.spectators-flex {
    height: 35vh;
    overflow: auto;
}

.spectator-name {
    font-size: 20px;
}

.taken-piece-icon {
    color: inherit;
    font-size: 2rem;
}

.taken-piece-container {
    width: 10%;
    text-align: center;
}

.taken-pieces-black {
    color: black;
}

.taken-pieces-white {
    color: white;
}

.taken-pieces-container {
    display: flex;
    flex-wrap: wrap;
}

.team-icon {
    font-size: 4rem;
}

.trade-place-btn {
    position: relative;
    left: 5px;
    padding: 2px 10px;
}

@media screen and (max-width: 1300px) {
    /* show 'x' to close menu on smaller devices */
    .mobile-menu-exit {
        display: inline;
        position: absolute;
        top: -10px;
        right: 10px;
        font-size: 40px;
        color: white;
    }

    .mobile-menu-exit:hover {
        cursor: pointer;
    }
}