.game-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: white;
    margin-bottom: 10px;
}

.leave-room-btn {
    position: relative;
    top: 8px;
}

.menu-icon {
    display: none;
    font-size: 40px;
    position: relative;
    top: 8px;
}

@media screen and (max-width: 1300px) {
    .leave-room-btn {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}